syntax: glob
*.pyo
*.pyc
*~
*.swp
*.out
*.backup
*.log
*.orig
*.directory
src/.project
src/.pydevproject
src/.settings/*
.idea/*
src/resources/packaging/windows/missing-libs/*
*.DS_Store
.DS_Store
